{% extends "base.html"%} {% block content %} {% load static %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-history"></i>
                            </span> History
    </h3>
    <nav aria-label="breadcrumb"></nav>
</div>
<hr />


<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
{%if  votes %}
<h3 >You Selected These Polls Before:</h3><br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No. </th>
                                <th>Poll Title</th>

                                <th>Selected Choice</th>
                                
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for vote in votes%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td> {{vote.poll.title}}</td>

                                {%if vote.choice == "A"%}  
                                <td>A: {{vote.poll.choice_1}}</td>
                                {% elif vote.choice == "B" %}
                                <td>B: {{vote.poll.choice_2}}</td>
                                {% elif vote.choice == "C" %}
                                <td>C: {{vote.poll.choice_3}}</td>
                                {% elif vote.choice == "D" %}
                                <td>D: {{vote.poll.choice_4}}</td>
                                {%endif%}

                                <td>{{vote.date_time}}</td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
{%else%}
<h4>There is no any history</h4>
{%endif%}


         
                            </div>
                        </div>
                    </div>
                </div>

{%endblock%}