{% extends "base.html"%} {% block content %} {% load static %}
 <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-key-variant"></i>
                            </span> Change Password
                        </h3>
                        <nav aria-label="breadcrumb"></nav>
                    </div>
                    <hr />
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="forms-sample" method="POST" action="/change-password/">{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="c_pass1" placeholder="Current Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputPassword2" class="col-sm-3 col-form-label">New
                                            Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="n_pass1" placeholder="New Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Re-New
                                            Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="n_pass2" placeholder="Re-New Password" required>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-gradient-primary mr-2">Change</button>
                                    <a class="btn btn-light" href="/">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


{%endblock%}